*.~
**/*.tgz
**/*.gz
**/*.zip
**/*.gzip
**/*.log
**/*.tar
**/*.sql
**/.DS_Store
/*.html
/*.bin
*.env
# Local
lego_cli-docker-to_del
README.md
/lego/rootfs/opt/lego/bin/renew_certificate.sh
.env
docker-compose.yml
ssl/*
.lego

# Jose Luis
*.joseluisq
